# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit DakeCoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/DakeCoin/DakeCoin.conf

[Unit]
Description=DakeCoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/DakeCoind -daemon -conf=/etc/DakeCoin/DakeCoin.conf -pid=/run/DakeCoind/DakeCoind.pid
# Creates /run/DakeCoind owned by DakeCoin
RuntimeDirectory=DakeCoind
User=DakeCoin
Type=forking
PIDFile=/run/DakeCoind/DakeCoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
